label.error {
    color: #dd4b39
}

ul.select2-choices {
      border: 0px !important;
      margin-top: -6px !important;
      margin-left: -12px !important;
      background-image: none !important;
      box-shadow: none !important; 
}

.icon-success {
    color: #00a65a;
    font-size:18px;
}

.icon-danger {
    color: #dd4b39;
    font-size:18px;
}

.daredevel-tree li span.daredevel-tree-anchor {
    top: 4px;
    left: -19px;
}

.ui-icon, .ui-widget-content .ui-icon {
    background-image: url('/img/ui-icons_ff0000_256x240.png');
}

.ui-widget-content {
    border: 0px !important;
}

.daredevel-tree label {
    margin-left:5px;
    font-weight: normal;
    font-size:13px;
}


section#messages {
    max-height:300px;
    overflow-y: auto;
    overflow-x: hidden;
    margin-bottom: 50px;
}
section#messages div {
    max-width: 500px;
    word-wrap: break-word;
    margin-bottom: 20px;
    line-height: 24px;
}

.clear {
    clear: both;
}

.from-me-user {
    float: right;
    margin-left: 14px;
    margin-right: 20px;
}
.from-me {
    position: relative;
    padding: 5px 20px;
    color: white;
    float: right;
    background: #0B93F6;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    margin-right: 20px;
}

.from-me:after
{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 7px 0 7px 7px;
    border-color: transparent #0B93F6;
    display: block;
    width: 0;
    z-index: 1;
    right: -7px;
    top: 6px;
}

.from-them-user {
    float: left;
    margin-right: 14px;
}
.from-them {
    position: relative;
    padding: 5px 20px;
    color: black;
    float: left;
    background: #EEEDED;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
}

.from-them:after
{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 7px 7px 7px 0;
    border-color: transparent #EEEDED;
    display: block;
    width: 0;
    z-index: 1;
    left: -7px;
    top: 6px;
}

section#messages p {
    margin:0 !important;
}